<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= videos_path %>">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@video['title']%></li>
  </ol>
</nav>
<p>you do not have permissions to play this video.</p>
<a href="#" class="btn btn-primary" role="button">Subscribe</a>